.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1100;
    width: 400px; 
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color:  rgba(163, 70, 84, 1.0);
    padding: 8px;
    z-index: 1001;
  }
  
  .modal img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .project-info {
    padding: 20px;
  }

  .project-info p {
    font-size: 14px;
    color: #666;
  }
  .custom-components {
    display: flex;
    justify-content: space-between;
  }

  .project-desc p {
    font-size: 18px;
    color: #666;
  }
  
  