.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .login-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 250px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

  .login-form input[type="text"]:focus,
  .login-form input[type="password"]:focus {
    border: 1px solid rgba(163, 70, 84, 1.0);
    border-radius: 20px;
  }
  
  .login-form button {
    width: 250px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color:rgba(163, 70, 84, 1.0);
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  .login-form button:hover {
    background-color: rgb(161, 59, 74);
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

.fundster-text {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Futura-MediumItalic', sans-serif;
    position: relative;
    text-align: center;
  }
  
  .main-text {
    color: black;
  }
  
  .overlay-text {
    position: absolute;
    top: 0;
    left: 209px;
    color: rgba(163, 70, 84, 1.0);
  }
  
  